<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Fare Calculator</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Bitter|Bree+Serif|Merriweather|Open+Sans|Slabo+27px" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
 <header>
    <div class='logo'>
        <img class="logo2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1e/WMATA_Metro_Logo.svg/2000px-WMATA_Metro_Logo.svg.png">
    </div>
    <div>
      <p class="title">Subway Fare Calculator
    </div>
      <nav class='navigation'>
      <ul class= "ultop">
        <li class='nav home'><a  class="a1" href="/">Home</a></li>
        <li class='nav about'><a  class="a1" href="/auth/register">Register</a></li>
        <li class='nav subways'><a  class="a1" href="/subway">Subways</a></li>
        <li class='nav logout'><a  class="a1" href="../../auth/logout">logout</a></li>
        <li class='nav Add'><a  class="a1" href="/subway/add">Add a Subway</a></li>
      </ul>
    </nav>

  </header>
