<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Fare Calculator</title>
  <link rel="stylesheet" href="/styles/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
 <header>
    <div class='logo'>
      <img class = "logo" src='images/logo.png' />
    </div>
      <nav class='navigation'>
      <ul class= "ultop">
        <li class='nav home'><a href="../">Home</a></li>
        <li class='nav about'><a href="../auth/register">Register</a></li>
        <li class='nav subways'><a href="../subway">Subways</a></li>
        <li class='nav logout'><a href="../../auth/logout">logout</a></li>
      </ul>
    </nav>

  </header>
