  <% include ../partials/top.ejs %>
  <div class="bigContainer">
    <div class="container">
      <div class ="addContainer">
        <form  class="addform" action="/subway" method="POST">
            <div class="flexform">
            <label>Name of Subway Price System</label>
            <input type="text" name="name" placeholder="name"></div><br>
            
            <div class="flexform">
            <label>One Ride</label>
            <input type="number" name="oneRide" placeholder="Price of One Ride"></div><br>
            
            <div class="flexform">
            <label>Express/special</label>
            <input type="number" name="express" placeholder="Add-on price of an express or special route"></div><br>
            
            <div class="flexform">
            <label>Transfer</label>
            <input type="number" name="oneRideTransfer" placeholder="Add-on price of doing a transfer"></div><br>
            <div class="flexform">
            <label>One Day Pass</label>
            <input type="number" name="oneDayPass" placeholder="Price of a One Day Pass"></div><br>
            <div class="flexform">
            <label>Three Day Pass</label>
            <input type="number" name="threeDayPass" placeholder="Price of a Three Day Pass"></div><br>
            <div class="flexform">
            <label>Seven Day Pass</label>
            <input type="number" name="sevenDayPass" placeholder="Price of a Seven Day Pass"></div><br>
            <div class="flexform">
            <label>thirty Day Pass</label>
            <input type="number" name="thirtyDayPass" placeholder="Price of a thirty Day Pass"></div><br>
            <div class="flexform">
            <label>Notes</label>
            <input name="notes" placeholder="Anything else the user needs to know"></div><br>
            <div class="flexform">
            <label>If a price category does not exist for the subway system, enter 0</label>
            </div><br>
            <input type="submit">
  </form>
      </div>
    </div>
  </div>
</body>
</html>
