  <% include ../partials/top.ejs %>
<% data.forEach(sub => { %>
	<a href="/subway/<%= sub.name %>"><p><%= sub.name %></p></a>
<% }) %>
    <script src='/src/jquery.js'></script>
  <script src='/src/main.js'></script>

</body>
</html>